#portfolio {
  .box-about {
    .element_about {
      &:hover {
        box-shadow: unset;
      }
    }
  }
  .jellyfish {
    &.element_about_img_overlay {
      padding-top: 70%;
    }
  }
  .element_about_img_overlay {
    padding-top: 30%;
  }
}
#portfolio .monseratregular,
.monseratregular {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
#portfolio .robotolight,
.robotolight {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 100;
  font-style: italic;
  color: var(--color-white);
  text-transform: none !important;
}
.title-blog {
  text-transform: uppercase;
  color: var(--color-black);
  font-weight: bold;
}
